{% extends 'shop/basic.html' %}
 {% load static %}
 {% block title%} Register - 7 Shop{% endblock %}

 {% block body %}
 <br/>
<div class="container" style="max-width:500px;margin:auto;border:1px solid white;height:600px;">
<div class="container inside"style="max-width:300px;margin:auto;border:1px solid white;height:600px;background-color:#17a2b8;">
<a class="navbar-brand text-light" href="{% url 'index' %}" style="margin-left: 40%;"><b style="margin-left: 20px;margin-right:-4rem;">7</b><br>Shop</a>
<h5 class="text-light" style="margin-top:18px;">Create Account</h5>

  <div class="row">
    <div class="col">
      

        <form action="/onlineshopping/register/" method="post">{% csrf_token %}    
    <label for="name" class="text-light">Your Name</label>
    <input type="text" class="form-control" id="name" name='name' placeholder="Enter Your Name">

    <label for="phone" class="text-light">Phone Number</label>
    <input type="tel" class="form-control" id="phone" name='phone' placeholder="Enter Your Phone Number">
    
    <label for="email" class="text-light">Email</label>
        <input type="email" class="form-control" id="email" name='email' placeholder="Enter Your Email">

     <label for="Password" class="text-light">Password</label>
        <input type="Password" class="form-control" id="Password" name="Password" placeholder="atleast 6 character">

    
    <button type="submit" class="btn btn-warning" style="margin-left:20%;
    margin-top: 14px;width: 64%;">Continue</button>
    <p style="color:white;margin-top: 30px;">Already have an account? <a href={% url 'login' %} style="color:yellow!important;">Sign In</a></p>
</form>




    
    </div>
      </div>
  </div>
   
</form>




</div>
</div>

 {% endblock %} 